:root {
    --directory-border-color: #ffffffaa;
}

#table-container {
    height: 100%;
}

#table-grid {
    padding-right: 1rem;
    gap: 1rem;
    /* color: white; */
    height: 100%;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr auto; */
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
}

#table-grid > div > table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}

#table-grid table tr th:nth-child(1) {
    /* min-width: 200px; */
}
#table-grid table tr th:nth-child(2) {
    /* min-width: 35%; */
}
#table-grid table tr th:nth-child(3) {
    width: 50px;
    text-overflow: clip;
}
#table-grid table tr th:nth-child(4) {
    max-width: 80px;
    text-overflow: clip;
}

#table-grid td,
#table-grid th {
    padding: 0.5rem 0.5rem 0.5rem 0;
    border-bottom: 1px solid var(--directory-border-color);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#table-grid td:nth-child(1) {
    /* max-width: 1px; */
}

/* * {
    font-family: "Source Sans Pro", sans-serif;
} */

.dir-time {
    /* color: white; */

    display: flex;
    align-items: center;
    padding: 2rem;
    border-bottom: 1px solid var(--directory-border-color);
    border-top: 1px solid var(--directory-border-color);
}

.dir-time__weather {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-direction: column;
    padding: 2rem;
    /* margin-left: 0.5rem; */
    max-width: 300px;
}

.dir-time__weather > p {
    font-size: 1rem;
    text-align: center;
}

.dir-time__time {
    font-size: 5rem;
    margin-top: -0.5rem;
    font-weight: bold;
}

.dir-time__date {
    font-size: 2rem;
    max-width: 300px;
    /* min-width: 220px; */
}

.dir-side {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* padding: 1rem 1rem 1rem 0; */
    /* margin-top: 36.53px; */
}

.dir-top-space {
    padding: 0.5rem;
}

.flex-hor {
    display: flex;
    flex-direction: row;
}

.dir-map {
    border-bottom: 1px solid var(--directory-border-color);
    /* border-top: 1px solid var(--directory-border-color); */
    padding: 1rem;
}

.dir-map__title {
    /* color: white; */
    font-size: 2rem;
}

.dir-map__img {
    width: 100%;
    height: auto;
}

.dir-description {
    /* color: white; */
    border-bottom: 1px solid var(--directory-border-color);
    /* border-top: 1px solid var(--directory-border-color); */
    padding: 1rem;
}

.dir-description__title {
    /* color: white; */
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.dir-description__content {
    /* color: white; */
    font-size: 1rem;
    opacity: 0.9;
    max-width: 400px;
}
