tr {
    text-align: left;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#score-table {
    font-size: 1.5rem;
    border-collapse: collapse;
}

#score-table td,
#score-table th {
    padding: 0.2em 0.5em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

body,
html {
    font-family: sans-serif;
    height: 100%;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card {
    max-width: min-content;
    color: white;
    gap: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #12a79d;
    padding: 2em;
    border-radius: 1em;
}

#card {
    min-width: 280px;
}

#time {
    font-size: 3rem;
    font-weight: bold;
}

#date {
    font-size: 3rem;
    color: #555;
    font-weight: bold;
}

#weather {
    margin-top: 1.5rem;
    font-size: 2rem;
    color: #555;
}

#quote {
    margin-top: 1.5rem;
    font-size: 2rem;

    color: #555;

    /* color: black;
    font-style: italic;
    text-align: center; */
}

#game-card {
    margin-top: 1.5rem;
}

#game-card__title {
    color: #555;
    font-size: 1.2rem;
    margin-bottom: 0.5em;
}

.divider {
    margin: 1em 0;
    height: 1px;
    width: 100%;
    color: #0002;
}
