tr {
    text-align: left;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#score-table {
    color: white;
    font-size: 1.5rem;
    border-collapse: collapse;
}

#score-table td,
#score-table th {
    padding: 0.2em 0.5em;
}

#countdown-title {
    max-width: 50vw;
    text-align: center;
    color: white;
    font-size: 4em;
    font-weight: bold;
}

#countdown-time {
    text-align: center;
    color: white;
    font-size: 10em;
    font-weight: bold;
}

.sign-title {
    max-width: 50vw;
    text-align: center;
    color: white;
    font-size: 5em;
    font-weight: bold;
}

.left-right-animation {
    animation: left-right 10s ease-in-out infinite;
}

@keyframes left-right {
    0% {
        transform: translateX(0%);
    }
    25% {
        transform: translateX(-10%);
    }
    75% {
        transform: translateX(10%);
    }
    0% {
        transform: translateX(0%);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: "Work Sans", sans-serif;
    height: 100%;
    overflow: hidden;
}

body {
    background-color: black;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card {
    color: white;
    gap: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #12a79d;
    padding: 2em;
    border-radius: 1em;
}

#qr-code > img {
    border: 24px solid white;
}

#card {
    min-width: 280px;
    max-width: 40%;
}

#time {
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

#date {
    font-size: 3rem;
    color: white;
    font-weight: bold;
}

#weather {
    margin-top: 1.5rem;
    font-size: 2rem;
    color: white;
}

#quote {
    margin-top: 1.5rem;
    font-size: 2rem;

    color: white;
    word-wrap: break-word;

    /* color: black;
    font-style: italic;
    text-align: center; */
}

#game-card {
    margin-top: 1.5rem;
}

#game-card__title {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 0.5em;
}

.divider {
    margin: 1em 0;
    height: 1px;
    width: 100%;
    color: #0002;
}

#rank-text {
    color: white;
}

#doodle-title {
    margin-top: 1em;
    color: white;
    font-weight: bold;
    font-size: 2.2em;
    max-width: 80vw;
    text-align: center;
}

#score-table-body tr:first-child {
    color: gold;
}

.center-spread {
    display: flex;
    justify-content: flex-start;
    height: 100%;
}

.center-spread > div {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-spread > div:nth-of-type(2) {
    margin-left: auto;
    align-self: flex-end;
}

iframe {
    border: none;
    outline: none;
}
