tr {
    text-align: left;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
}

#score-table {
    color: white;
    font-size: 1.5rem;
    border-collapse: collapse;
}

#score-table td,
#score-table th {
    padding: 0.2em 0.5em;
}

#sign-title {
    color: white;
    font-size: 5em;
    font-weight: bold;
}

.left-right-animation {
    animation: left-right 10s ease-in-out infinite;
}

@keyframes left-right {
    0% {
        transform: translateX(0%);
    }
    25% {
        transform: translateX(-10%);
    }
    75% {
        transform: translateX(10%);
    }
    0% {
        transform: translateX(0%);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

body,
html {
    font-family: sans-serif;
    height: 100%;
}

body {
    background-color: black;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card {
    color: white;
    gap: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #12a79d;
    padding: 2em;
    border-radius: 1em;
}

#card {
    min-width: 280px;
    max-width: 40%;
}

#time {
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

#date {
    font-size: 3rem;
    color: white;
    font-weight: bold;
}

#weather {
    margin-top: 1.5rem;
    font-size: 2rem;
    color: white;
}

#quote {
    margin-top: 1.5rem;
    font-size: 2rem;

    color: white;
    word-wrap: break-word;

    /* color: black;
    font-style: italic;
    text-align: center; */
}

#game-card {
    margin-top: 1.5rem;
}

#game-card__title {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 0.5em;
}

.divider {
    margin: 1em 0;
    height: 1px;
    width: 100%;
    color: #0002;
}

#rank-text {
    color: white;
}
